
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header Container
  ================================================== -->
  <div class="clearfix"></div>
  <!-- Header Container / End -->


  <!-- Dashboard Container -->
  <div class="dashboard-container">
    <!-- Dashboard Sidebar / End -->
    <app-side-bar></app-side-bar>

    <!-- Dashboard Content
      ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->


        <div class="container">

          <div class="dashboard-headline">
            <h3>Manage Bidders</h3>
            <span class="margin-top-7">Bids for <a href="#">Food Delivery Mobile Application</a></span>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li>Manage Bidders</li>
              </ul>
            </nav>
          </div>

        <div class="row">

          <!-- Dashboard Box -->
          <div class="col-xl-9">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-material-outline-supervisor-account"></i> {{bids.length}} Bidders</h3>
                <div class="sort-by">
                  <select class="selectpicker hide-tick">
                    <option>Highest First</option>
                    <option>Lowest First</option>
                    <option>Fastest First</option>
                  </select>
                </div>
              </div>

              <div class="content">
                <ul class="dashboard-box-list">
                  <li *ngFor="let bid of bids;index as i">
                    <!-- Overview -->
                    <div class="freelancer-overview manage-candidates">
                      <div class="freelancer-overview-inner">

                        <!-- Avatar -->
                        <div class="freelancer-avatar">
                          <div class="verified-badge"></div>
                          <a href="#"><img src="../../../assets/images/user-avatar-big-02.jpg" alt=""></a>
                        </div>

                        <!-- Name -->
                        <div class="freelancer-name">
                          <h4><a href="#">{{bid.user.username}} <img class="flag" src="images/flags/de.svg" alt=""
                                                              title="Germany" data-tippy-placement="top"></a></h4>

                          <!-- Details -->
                          <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> {{bid.user.email}}</a></span>

                          <!-- Rating -->
                          <div class="freelancer-rating">
                            <div class="star-rating" [attr.data-rating]="bid.user.review.rate"></div>
                          </div>

                          <!-- Bid Details -->
                          <ul class="dashboard-task-info bid-info">
                            <li><strong> {{bid.price}}</strong><span>Fixed Price</span></li>
                            <li><strong>{{bid.deliveryTime}} Hours</strong><span>Delivery Time</span></li>
                          </ul>

                          <!-- Buttons -->
                          <div (click)="onSubmit($event,i)" class="buttons-to-right always-visible margin-top-25 margin-bottom-0" >
                            <a style="background-color: #2A41E8" href="#small-dialog-1" class="popup-with-zoom-anim button ripple-effect"><i
                              class="icon-material-outline-check"></i> Accept Offer</a>

                            <a href="#" class="button gray ripple-effect ico" title="Remove Bid"
                               data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- Row / End -->
        </div>
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
          <div class="small-footer-copyrights">
            © 2018 <strong>Hireo</strong>. All Rights Reserved.
          </div>
          <ul class="footer-social-links">
            <li>
              <a href="#" title="Facebook" data-tippy-placement="top">
                <i class="icon-brand-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Twitter" data-tippy-placement="top">
                <i class="icon-brand-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Google Plus" data-tippy-placement="top">
                <i class="icon-brand-google-plus-g"></i>
              </a>
            </li>
            <li>
              <a href="#" title="LinkedIn" data-tippy-placement="top">
                <i class="icon-brand-linkedin-in"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

      </div>
    </div>
    <!-- Dashboard Content / End -->

  </div>

</div>
  <!-- Dashboard Container / End -->

<!-- Wrapper / End -->


<!-- Bid Acceptance Popup
================================================== -->
<div id="small-dialog-1" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

  <!--Tabs -->
  <div class="sign-in-form">

    <ul class="popup-tabs-nav">
      <li><a href="#tab1">Accept Offer</a></li>
    </ul>

    <div class="popup-tabs-container">

      <!-- Tab -->
      <div class="popup-tab-content" id="tab">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Accept Offer From David</h3>
          <div class="bid-acceptance margin-top-15">
            $3200
          </div>

        </div>

        <form id="terms">
          <div class="radio">
            <input id="radio-1" name="radio" type="radio" required>
            <label for="radio-1"><span class="radio-label"></span> I have read and agree to the Terms and
              Conditions</label>
          </div>
        </form>

        <!-- Button -->
        <button class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">
          Accept <i class="icon-material-outline-arrow-right-alt"></i></button>

      </div>

    </div>
  </div>
</div>
<!-- Bid Acceptance Popup / End -->


<!-- Send Direct Message Popup
================================================== -->
<div id="small-dialog-2" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

  <!--Tabs -->
  <div class="sign-in-form">

    <ul class="popup-tabs-nav">
      <li><a href="#tab2">Send Message</a></li>
    </ul>

    <div class="popup-tabs-container">

      <!-- Tab -->
      <div class="popup-tab-content" id="tab2">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Direct Message To David</h3>
        </div>

        <!-- Form -->
        <form method="post" id="send-pm">
          <textarea name="textarea" cols="10" placeholder="Message" class="with-border" required></textarea>
        </form>

        <!-- Button -->
        <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Send <i
          class="icon-material-outline-arrow-right-alt"></i></button>

      </div>

    </div>
  </div>
</div>
<!-- Send Direct Message Popup / End -->


<!-- Scripts
================================================== -->


<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
  // Snackbar for user status switcher
  $('#snackbar-user-status label').click(function () {
    Snackbar.show({
      text: 'Your status has been changed!',
      pos: 'bottom-center',
      showAction: false,
      actionText: "Dismiss",
      duration: 3000,
      textColor: '#fff',
      backgroundColor: '#383838'
    });
  });
</script>
