
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header Container
  ================================================== -->
  <div class="clearfix"></div>
  <!-- Header Container / End -->


  <!-- Dashboard Container -->
  <div class="dashboard-container">
    <!-- Dashboard Sidebar / End -->
    <app-side-bar></app-side-bar>

    <!-- Dashboard Content
      ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->


        <div class="container">

          <div class="dashboard-headline">
            <h3>Manage Bidders</h3>
            <span class="margin-top-7">Bids for <a href="#">Food Delivery Mobile Application</a></span>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li>Manage Bidders</li>
              </ul>
            </nav>
          </div>

        <div class="row">

          <!-- Dashboard Box -->
          <div class="col-xl-9">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-material-outline-supervisor-account"></i> {{bids.length}} Bidders</h3>
                <div class="sort-by">
                  <select class="selectpicker hide-tick">
                    <option>Highest First</option>
                    <option>Lowest First</option>
                    <option>Fastest First</option>
                  </select>
                </div>
              </div>

              <div class="content">
                <ul class="dashboard-box-list">
                  <li *ngFor="let bid of bids;index as i">
                    <!-- Overview -->
                    <div class="freelancer-overview manage-candidates">
                      <div class="freelancer-overview-inner">

                        <!-- Avatar -->
                        <div class="freelancer-avatar">
                          <div class="verified-badge"></div>
                          <a href="#"><img src="../../../assets/images/user-avatar-big-02.jpg" alt=""></a>
                        </div>

                        <!-- Name -->
                        <div class="freelancer-name">
                          <h4><a href="#">{{bid.user.username}} <img class="flag" src="images/flags/de.svg" alt=""
                                                              title="Germany" data-tippy-placement="top"></a></h4>

                          <!-- Details -->
                          <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> {{bid.user.email}}</a></span>

                          <!-- Rating -->
                          <div class="freelancer-rating">
                            <div class="star-rating" [attr.data-rating]="bid.user.review.rate"></div>
                          </div>

                          <!-- Bid Details -->
                          <ul class="dashboard-task-info bid-info">
                            <li><strong> {{bid.price}}</strong><span>Fixed Price</span></li>
                            <li><strong>{{bid.deliveryTime}} Hours</strong><span>Delivery Time</span></li>
                          </ul>

                          <!-- Buttons -->
                          <div (click)="onSubmit($event,i)" class="buttons-to-right always-visible margin-top-25 margin-bottom-0" >
                            <a style="background-color: #2A41E8" href="" class="popup-with-zoom-anim button ripple-effect"><i
                              class="icon-material-outline-check"></i> Accept Offer</a>

                            <a href="#" class="button gray ripple-effect ico" title="Remove Bid"
                               data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- Row / End -->
        </div>
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <!-- Footer / End -->

      </div>
    </div>
    <!-- Dashboard Content / End -->

  </div>

</div>
  <!-- Dashboard Container / End -->

<!-- Wrapper / End -->






<!-- Scripts
================================================== -->


<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
  // Snackbar for user status switcher
  $('#snackbar-user-status label').click(function () {
    Snackbar.show({
      text: 'Your status has been changed!',
      pos: 'bottom-center',
      showAction: false,
      actionText: "Dismiss",
      duration: 3000,
      textColor: '#fff',
      backgroundColor: '#383838'
    });
  });
</script>
