<!-- Wrapper -->
<div id="wrapper">

  <!-- Header Container
  ================================================== -->


  <!-- Dashboard Container -->

    <!-- Dashboard Sidebar / End -->
  <div class="dashboard-container">

    <app-side-bar></app-side-bar>



    <!-- Dashboard Content
      ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner" >

        <div class="container">

          <div class="dashboard-headline">
            <h3>Post a Task</h3>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
              <ul>
                <li><a href="#">Home</a></li>
                <li>Post a Task</li>
              </ul>
            </nav>
          </div>
        <div class="row">

          <!-- Dashboard Box -->
          <div class="col-xl-9">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->

              <div class="content with-padding padding-bottom-10">
                <div class="row">



                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>Location  <i class="help-icon" data-tippy-placement="right" title="Leave blank if it's an online job"></i></h5>
                      <div class="input-with-icon">
                        <div id="autocomplete-container">
                          <input id="autocomplete-input" name="location" [(ngModel)]="task.location" class="with-border" type="text" placeholder="Anywhere">
                        </div>
                        <i class="icon-material-outline-location-on"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="submit-field">
                      <h5>What is your estimated budget?</h5>
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="input-with-icon">
                            <input class="with-border"  name="price" [(ngModel)]="task.price" type="text" placeholder="budget">
                            <i class="currency">TND</i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>phone?</h5>
                      <div class="row">
                        <div class="col-xl-6">
                          <div class="input-with-icon">
                            <input class="with-border"  name="phone" [(ngModel)]="task.phone" type="text" placeholder="number">
                            <i class="currency"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-12">
                    <div class="submit-field">
                      <h5>Describe Your Project</h5>
                      <textarea  name="description" [(ngModel)]="task.description" cols="30" rows="5" class="with-border"></textarea>
                    </div>
                  </div>


                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12">
            <a href="#" (click)="onSubmit($event)"  class="button ripple-effect big margin-top-30"><i class="icon-feather-plus"></i> Post a Task</a>
          </div>

        </div>
        <!-- Row / End -->
        </div>
        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
          <div class="small-footer-copyrights">
            © 2018 <strong>Hireo</strong>. All Rights Reserved.
          </div>
          <ul class="footer-social-links">
            <li>
              <a href="#" title="Facebook" data-tippy-placement="top">
                <i class="icon-brand-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Twitter" data-tippy-placement="top">
                <i class="icon-brand-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Google Plus" data-tippy-placement="top">
                <i class="icon-brand-google-plus-g"></i>
              </a>
            </li>
            <li>
              <a href="#" title="LinkedIn" data-tippy-placement="top">
                <i class="icon-brand-linkedin-in"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

      </div>
    </div>
    <!-- Dashboard Content / End -->

  </div>

  <!-- Dashboard Container / End -->

<!-- Wrapper / End -->
