
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header Container
  ================================================== -->
  <!-- Header Container / End -->

  <div class="dashboard-container">
  <!-- Dashboard Container -->
  <app-side-bar></app-side-bar>
    <!-- Dashboard Sidebar / End -->


    <!-- Dashboard Content
      ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
      <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <!-- Row -->
        <div class="container">

          <div class="dashboard-headline">
            <h3>Manage Tasks</h3>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs" class="dark">
              <ul>
                <li><a href="#">Home</a></li>
                <li>Manage Tasks</li>
              </ul>
            </nav>
          </div>
        <div class="row">

          <!-- Dashboard Box -->
          <div class="col-xl-9">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-material-outline-assignment"></i> My Tasks</h3>
              </div>

              <div class="content">
                <ul class="dashboard-box-list" *ngFor="let task of taskList;index as i">
                  <li>
                    <!-- Job Listing -->
                    <div class="job-listing width-adjustment">

                      <!-- Job Listing Details -->
                      <div class="job-listing-details">

                        <!-- Details -->
                        <div class="job-listing-description">
                          <h3 class="job-listing-title"><a href="#">{{task.description}}</a> <span
                            class="dashboard-status-button yellow"></span></h3>

                          <!-- Job Listing Footer -->
                          <div class="job-listing-footer">
                            <ul>
                              <li><i
                                class="icon-material-outline-access-time"></i>{{task.createDateTime | date:'h:mm a z'}}
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Task Details -->
                    <ul class="dashboard-task-info">
                      <li><strong>{{task.bids.length}}</strong><span>Bids</span></li>

                    </ul>

                    <!-- Buttons -->
                    <div class="buttons-to-right always-visible">
                      <!--<a [className]="isActiveTask(task) ? 'green button ripple-effect' : 'blue button ripple-effect' "  href=""-->
                         <!--(click)="onClick($event,i)" ><i-->
                        <!--class="icon-material-outline-supervisor-account"></i>{{isActiveTask(task) ? 'Done' : 'Manage Bidders'}}-->
                      <!--</a>-->
                      <a *ngIf="!isActiveTask(task)" class="blue button ripple-effect"   href=""
                         (click)="onClick($event,i)" ><i
                        class="icon-material-outline-supervisor-account"></i>Manage Bidders
                      </a>
                      <a *ngIf="isActiveTask(task)" class="green button ripple-effect popup-with-zoom-anim button ripple-effect "   href="{{'#small-dialog-'+(i+1)}}"
                         (click)="onClick($event,i)" ><i
                        class="icon-material-outline-supervisor-account"></i>Done
                      </a>
                      <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i
                        class="icon-feather-trash-2"></i></a>
                    </div>
                  </li>


                </ul>
              </div>
            </div>
          </div>

        </div>
        </div>
        <!-- Row / End -->

        <!-- Footer -->
        <div class="dashboard-footer-spacer"></div>
        <div class="small-footer margin-top-15">
          <div class="small-footer-copyrights">
            © 2018 <strong>Hireo</strong>. All Rights Reserved.
          </div>
          <ul class="footer-social-links">
            <li>
              <a href="#" title="Facebook" data-tippy-placement="top">
                <i class="icon-brand-facebook-f"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Twitter" data-tippy-placement="top">
                <i class="icon-brand-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#" title="Google Plus" data-tippy-placement="top">
                <i class="icon-brand-google-plus-g"></i>
              </a>
            </li>
            <li>
              <a href="#" title="LinkedIn" data-tippy-placement="top">
                <i class="icon-brand-linkedin-in"></i>
              </a>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

      </div>
    </div>
    <!-- Dashboard Content / End -->

  </div>
  <!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->



<!-- Leave a Review for Freelancer Popup
================================================== -->
<ng-container *ngFor="let task of taskList;index as i"  >
<div *ngIf="isActiveTask(task)"  id="{{'small-dialog-'+(i+1)}}" class="zoom-anim-dialog mfp-hide dialog-with-tabs popup" >
  <!--Tabs -->
  <div class="sign-in-form">

    <ul class="popup-tabs-nav">
    </ul>

    <div class="popup-tabs-container">

      <!-- Tab -->
      <div class="popup-tab-content" id="tab2">

        <!-- Welcome Text -->
        <div class="welcome-text">
          <h3>Leave a Review</h3>
          <span>Rate <a href="#">the delivery guy</a> for the delivery <a href="#">Simple Chrome Extension</a> </span>
        </div>

        <!-- Form -->
        <form method="post" id="leave-review-form">

          <div class="feedback-yes-no">
            <strong>Add to trusted users?</strong>
            <div class="radio">
              <input id="{{'radio-1-'+(i+1)}}" name="radio" type="radio" checked  required>
              <label for="{{'radio-1-'+(i+1)}}"><span class="radio-label"></span> Yes</label>
            </div>

            <div class="radio">
              <input  id="{{'radio-2-'+(i+1)}}"  name="radio" type="radio" required>
              <label for="{{'radio-2-'+(i+1)}}"><span class="radio-label"></span> No</label>
            </div>
          </div>

          <div class="feedback-yes-no">
            <strong>Your Rating</strong>
            <div class="leave-rating">
              <input type="radio" name="rating"  id="rating-radio-1" value="1" required>
              <label for="rating-radio-1" class="icon-material-outline-star"></label>
              <input type="radio" name="rating"  id="rating-radio-2" value="2" required>
              <label for="rating-radio-2" class="icon-material-outline-star"></label>
              <input type="radio" name="rating"  id="rating-radio-3" value="3" required>
              <label for="rating-radio-3" class="icon-material-outline-star"></label>
              <input type="radio" name="rating"  id="rating-radio-4" value="4" required>
              <label for="rating-radio-4" class="icon-material-outline-star"></label>
              <input type="radio" name="rating"  id="rating-radio-5" value="5" required>
              <label for="rating-radio-5" class="icon-material-outline-star"></label>
            </div><div class="clearfix"></div>
          </div>


        </form>

        <!-- Button -->
        <button (click)="reviewSubmit(i)" class="button full-width button-sliding-icon ripple-effect" type="submit" form="leave-review-form">Leave a Review <i class="icon-material-outline-arrow-right-alt"></i></button>

      </div>

    </div>
  </div>
</div>
</ng-container>
<!-- Leave a Review Popup / End -->




<!-- Scripts
================================================== -->


<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
  // Snackbar for user status switcher
  $('#snackbar-user-status label').click(function() {
    Snackbar.show({
      text: 'Your status has been changed!',
      pos: 'bottom-center',
      showAction: false,
      actionText: "Dismiss",
      duration: 3000,
      textColor: '#fff',
      backgroundColor: '#383838'
    });
  });
</script>

