<!doctype html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <title>Hireo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



</head>
<body class="gray" cz-shortcut-listen="true">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Dashboard Container -->
  <div class="dashboard-container">

    <!-- Dashboard Sidebar
      ================================================== -->
    <div class="dashboard-sidebar">
      <div class="dashboard-sidebar-inner" data-simplebar="init"><div class="simplebar-track vertical" style="visibility: visible; display: none;"><div class="simplebar-scrollbar" style="visibility: visible; top: 0px; height: 25px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible; display: none;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 15px; margin-bottom: -30px;"><div class="simplebar-content" style="padding-bottom: 15px; margin-right: -15px;">
        <div class="dashboard-nav-container">

          <!-- Responsive Navigation Trigger -->
          <a href="#" class="dashboard-responsive-nav-trigger">
					<span class="hamburger hamburger--collapse">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</span>
            <span class="trigger-title">Dashboard Navigation</span>
          </a>

          <!-- Navigation -->
          <div class="dashboard-nav">
            <div class="dashboard-nav-inner">

              <ul data-submenu-title="Start">
                <li><a href="dashboard-reviews.html"><i class="icon-material-outline-rate-review"></i> Reviews</a></li>
              </ul>

              <ul data-submenu-title="Organize and Manage">
                <li><a href="#"><i class="icon-material-outline-business-center"></i> Tasks</a>
                  <ul>
                    <li><a href="dashboard-manage-tasks.html">Manage Tasks <span class="nav-tag">3</span></a></li>
                    <li><a href="dashboard-post-a-job.html">Post a Task</a></li>
                  </ul>
                </li>
              </ul>

              <ul data-submenu-title="Account">
                <li class="active"><a href="dashboard-settings.html"><i class="icon-material-outline-settings"></i> Settings</a></li>
                <li><a href="index-logged-out.html"><i class="icon-material-outline-power-settings-new"></i> Logout</a></li>
              </ul>

            </div>
          </div>
          <!-- Navigation / End -->

        </div>
      </div></div></div>
    </div>
    <!-- Dashboard Sidebar / End -->


    <!-- Dashboard Content
      ================================================== -->
    <div class="dashboard-content-container" data-simplebar="init"><div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; top: 63px; height: 85px;"></div></div><div class="simplebar-track horizontal" style="visibility: visible;"><div class="simplebar-scrollbar" style="visibility: visible; left: 0px; width: 25px;"></div></div><div class="simplebar-scroll-content" style="padding-right: 15px; margin-bottom: -30px;"><div class="simplebar-content" style="padding-bottom: 15px; margin-right: -15px;">
      <form >

        <div class="dashboard-content-inner">

        <!-- Dashboard Headline -->
        <div class="dashboard-headline">
          <h3>Settings</h3>

          <!-- Breadcrumbs -->
          <nav id="breadcrumbs" class="dark">
            <ul>
              <li><a href="#">Home</a></li>

              <li>Settings</li>
            </ul>
          </nav>
        </div>

        <!-- Row -->
        <div class="row">

          <!-- Dashboard Box -->
          <div class="col-xl-12">
            <div class="dashboard-box margin-top-0">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
              </div>

              <div class="content with-padding padding-bottom-0">

                <div class="row">

                  <div class="col-auto">
                    <div class="avatar-wrapper" data-tippy-placement="bottom" data-tippy="" data-original-title="Change Avatar">
                      <img class="profile-pic" src="images/user-avatar-placeholder.png" alt="">
                      <div class="upload-button"></div>
                      <input class="file-upload" type="file" accept="image/*">
                    </div>
                  </div>

                  <div class="col">
                    <div class="row">

                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5>First Name</h5>
                          <input  name="f_name" type="text" class="with-border" [(ngModel)]="currentUser.firstName">
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5>Last Name</h5>
                          <input name="l_name" type="text" class="with-border" [(ngModel)]="currentUser.lastName">
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="submit-field">
                          <h5>Email</h5>
                          <input name="email" type="text" class="with-border" [(ngModel)]="currentUser.email">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Dashboard Box -->
          <div class="col-xl-12">
            <div class="dashboard-box">

            </div>
          </div>

          <!-- Dashboard Box -->
          <div class="col-xl-12">
            <div id="test1" class="dashboard-box">

              <!-- Headline -->
              <div class="headline">
                <h3><i class="icon-material-outline-lock"></i> Password &amp; Security</h3>
              </div>

              <div class="content with-padding">
                <div class="row">



                  <div class="col-xl-4">
                    <div class="submit-field">
                      <h5>New Password</h5>
                      <input name="n2_password" type="password" class="with-border" [(ngModel)]="currentUser.password">
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Button -->

          <div class="col-xl-12">
            <input type="submit" (click)="updateInfo()" value="Save Changes" class="button ripple-effect big margin-top-30">
          </div>

        </div>
        <!-- Row / End -->

        <!-- Footer -->
        <div class="dashboard-footer-spacer" style="padding-top: 162px;"></div>
        <div class="small-footer margin-top-15">
          <div class="small-footer-copyrights">
            © 2018 <strong>Echrili</strong>. All Rights Reserved.
          </div>

          <div class="clearfix"></div>
        </div>
        <!-- Footer / End -->

      </div>

      </form>
    </div></div></div>
    <!-- Dashboard Content / End -->

  </div>
  <!-- Dashboard Container / End -->

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/js/jquery-migrate-3.0.0.min.js"></script>
<script src="../../assets/js/mmenu.min.js"></script>
<script src="../../assets/js/tippy.all.min.js"></script>
<script src="../../assets/js/simplebar.min.js"></script>
<script src="../../assets/js/bootstrap-slider.min.js"></script>
<script src="../../assets/js/bootstrap-select.min.js"></script>
<script src="../../assets/js/snackbar.js"></script>
<script src="../../assets/js/clipboard.min.js"></script>
<script src="../../assets/js/counterup.min.js"></script>
<script src="../../assets/js/magnific-popup.min.js"></script>
<script src="../../assets/js/slick.min.js"></script>
<script src="../../assets/js/custom.js"></script>

<!-- Snackbar // documentation: https://www.polonel.com/snackbar/ -->
<script>
  // Snackbar for user status switcher
  $('#snackbar-user-status label').click(function() {
    Snackbar.show({
      text: 'Your status has been changed!',
      pos: 'bottom-center',
      showAction: false,
      actionText: "Dismiss",
      duration: 3000,
      textColor: '#fff',
      backgroundColor: '#383838'
    });
  });
</script>

<!-- Chart.js // documentation: http://www.chartjs.org/docs/latest/ -->
<script src="../../assets/js/chart.min.js"></script>
<script>
  Chart.defaults.global.defaultFontFamily = "Nunito";
  Chart.defaults.global.defaultFontColor = '#888';
  Chart.defaults.global.defaultFontSize = '14';

  var ctx = document.getElementById('chart').getContext('2d');

  var chart = new Chart(ctx, {
    type: 'line',

    // The data for our dataset
    data: {
      labels: ["January", "February", "March", "April", "May", "June"],
      // Information about the dataset
      datasets: [{
        label: "Views",
        backgroundColor: 'rgba(42,65,232,0.08)',
        borderColor: '#2a41e8',
        borderWidth: "3",
        data: [196,132,215,362,210,252],
        pointRadius: 5,
        pointHoverRadius:5,
        pointHitRadius: 10,
        pointBackgroundColor: "#fff",
        pointHoverBackgroundColor: "#fff",
        pointBorderWidth: "2",
      }]
    },

    // Configuration options
    options: {

      layout: {
        padding: 10,
      },

      legend: { display: false },
      title:  { display: false },

      scales: {
        yAxes: [{
          scaleLabel: {
            display: false
          },
          gridLines: {
            borderDash: [6, 10],
            color: "#d8d8d8",
            lineWidth: 1,
          },
        }],
        xAxes: [{
          scaleLabel: { display: false },
          gridLines:  { display: false },
        }],
      },

      tooltips: {
        backgroundColor: '#333',
        titleFontSize: 13,
        titleFontColor: '#fff',
        bodyFontColor: '#fff',
        bodyFontSize: 13,
        displayColors: false,
        xPadding: 10,
        yPadding: 10,
        intersect: false
      }
    },


  });

</script>


<!-- Google Autocomplete -->
<script>
  function initAutocomplete() {
    var options = {
      types: ['(cities)'],
      // componentRestrictions: {country: "us"}
    };

    var input = document.getElementById('autocomplete-input');
    var autocomplete = new google.maps.places.Autocomplete(input, options);

    if ($('.submit-field')[0]) {
      setTimeout(function(){
        $(".pac-container").prependTo("#autocomplete-container");
      }, 300);
    }
  }
</script>

<!-- Google API -->
<script src="https://maps.googleapis.com/maps/api/js?key=&amp;libraries=places&amp;callback=initAutocomplete"></script>




<div id="backtotop" class="visible"><a href="#"></a></div>

</body>
</html>
